<%= render "layouts/alert" %>
<div>
<h1 class="text-sans text-4xl text-black-500" align="left">الخليفة الرسول الإمام المهدي</h1><br>
<div  class="text-sans" align="left">
<% if user_signed_in? %>
  Logged in as <b><%= current_user.email %></b> | 
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link text-sans'  %> |
  <%= link_to "Posts", posts_path, :class => 'navbar-link text-sans' %> 
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link text-sans'  %> |
  <%= link_to "Sign in", new_user_session_path, :class => 'navbar-link text-sans'  %>
<% end %>
</div>
<br>

<% @records.order('created_at DESC').each do |post| %>    
  <figure dir="rtl" class="border-3 border-black-5 md:flex bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800 text-justify">
    <div class="p-6 hover:bg-green-100 hover:text-black transition duration-900 ease-in md:flex bg-slate-100 rounded-xl p-8 md:p-0">  
    <div class="pt-6 md:p-8 text-right md:text-justify space-y-3">
      <blockquote>
          <p class="text-sans text-right block text-xl mb-10 justify-start" align="right"><b>
            <%= post.title %></b></p>
              <p class="text-sans block font-small mb-1 text-blue-400">
                <%= post.get_date_formated %> 
                <hr><br><br> 
              </p>
          </p>
          <p class="block text-sans font-medium mb-1 text-black-500 text-justify" align="justify">
            <%= post.content %>
          </p>
        </blockquote>
    <p class="block text-sans font-medium mb-1 justify-end text-orange-500" data-controller="hello" data-action="click->hello#handleClick"></p>
      <figcaption class="block text-sans font-medium mb-1">
        <div class="text-gray-500 dark:text-gray-400">
          <%= post.name %>
        </div>
      </figcaption>
    </div>
  </div>
</figure>

<br>
<% end %>
<br>


<div class="footer text-sans block font-medium mb-1 justify-end text-orange-500" align="center">
<%# Render the navigation bar in your views %>
<%== pagy_nav(@pagy) %>
<br>
</div>
