<!DOCTYPE html>
<html lang="ar" dir="auto">
  <head>
    <title>Ali Mahdi blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
<style class="vjs-styles-defaults">
      .video-js {
        width: 300px;
        height: 150px;
      }

      .vjs-fluid:not(.vjs-audio-only-mode) {
        padding-top: 56.25%
      }
</style>

<style type="text/css" data-tag-name="trix-editor">trix-editor {
    display: block;
}

trix-editor:empty:not(:focus)::before {
    content: attr(placeholder);
    color: graytext;
    cursor: text;
    pointer-events: none;
    white-space: pre-line;
}

trix-editor a[contenteditable=false] {
    cursor: text;
}

trix-editor img {
    max-width: 100%;
    height: auto;
}

trix-editor [data-trix-attachment] figcaption textarea {
    resize: none;
}

trix-editor [data-trix-attachment] figcaption textarea.trix-autoresize-clone {
    position: absolute;
    left: -9999px;
    max-height: 0px;
}

trix-editor [data-trix-attachment] figcaption[data-trix-placeholder]:empty::before {
    content: attr(data-trix-placeholder);
    color: graytext;
}

trix-editor [data-trix-cursor-target] {
    display: inline-block !important;
    width: 1px !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

trix-editor [data-trix-cursor-target=left] {
    vertical-align: top !important;
    margin-left: -1px !important;
}

trix-editor [data-trix-cursor-target=right] {
    vertical-align: bottom !important;
    margin-right: -1px !important;
}</style><style type="text/css" data-tag-name="trix-toolbar">trix-toolbar {
  display: block;
}

trix-toolbar {
  white-space: nowrap;
}

trix-toolbar [data-trix-dialog] {
  display: none;
}

trix-toolbar [data-trix-dialog][data-trix-active] {
  display: block;
}

trix-toolbar [data-trix-dialog] [data-trix-validate]:invalid {
  background-color: #ffdddd;
}</style><style type="text/css">.turbo-progress-bar {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  background: #0076ff;
  z-index: 2147483647;
  transition:
    width 300ms ease-out,
    opacity 150ms 150ms ease-in;
  transform: translate3d(0, 0, 0);
}
</style>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="en_US">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5">
<meta name="description" content="Drifting Ruby Screencasts is a collection of short tutorial screencast videos and documentation for accomplishing functional concepts in web development.">
<meta name="keywords" content="rails, ruby on rails, screencasts, drifting ruby, hotwire, turbo, sidekiq, tips, tricks, tutorials, training, podcasts, programming, railscast, railscasts">

<title>Episodes | Drifting Ruby | Drifting Ruby</title>
<meta name="description" content="Drifting Ruby Screencasts is a collection of short tutorial screencast videos and documentation for accomplishing functional concepts in web development.">
<link rel="alternate" href="https://www.driftingruby.com/episodes/feed.atom" type="application/atom+xml" title="RSS">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@driftingruby">
<meta name="twitter:title" content="Drifting Ruby Screencasts">
<meta name="twitter:description" content="Drifting Ruby Screencasts is a collection of short tutorial screencast videos and documentation for accomplishing functional concepts in web development.">
<meta name="twitter:image" content="https://www.driftingruby.com/assets/slide_2-9026b927b1350b758b84f147828e1fc4c0555dabb89f400aa9a19e3a7fd381d3.jpg">
<meta property="og:title" content="Drifting Ruby">
<meta property="og:description" content="Drifting Ruby Screencasts is a collection of short tutorial screencast videos and documentation for accomplishing functional concepts in web development.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.driftingruby.com/">
<meta property="og:image" content="https://www.driftingruby.com/assets/drifting-973bd1ce7b469e10d328d017eb67931b59931e47f11cfa0570788509b90f09e4.png">
<meta name="action-cable-url" content="/cable">
<link rel="stylesheet" href="https://www.driftingruby.com/assets/application-35f6b3e21a5037fcc92e00dd34775ec54f21c7583302031f056d96135e9abc9a.css" media="all" data-turbo-track="reload">
<link rel="stylesheet" href="https://www.driftingruby.com/assets/darkmode-c2d7c039d42c1466a47ede68203a66e576bf7e4c2bf0c24729e79ac3df825d67.css" media="all" data-turbo-track="reload">
<link rel="stylesheet" href="https://www.driftingruby.com/assets/application-main-79e096bf841fa82a6aeec4d4f04734cd4ecdc1294908a9ece13dfe3a93c3685e.css" media="all" data-turbo-track="reload">
<script src="https://www.driftingruby.com/assets/application-main-22f1f556f38dede0a13edb1c0b0a2a44994ddee259a015ea8d1fb837ced6c3a9.js" data-turbo-track="reload" defer="defer"></script>
<script src="https://js.stripe.com/v3/" data-turbo-track="reload" async="async"></script>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" data-turbo-track="reload" defer="defer"></script>
<script defer="" data-domain="driftingruby.com" src="https://analytics.driftingruby.com/js/plausible.js"></script>
<meta name="stripe-public-key" content="pk_live_zSavQs3T1GypldT7hILIR9BH">
<link rel="apple-touch-icon" href="https://www.driftingruby.com/touch-icon-iphone-60x60.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://www.driftingruby.com/touch-icon-ipad-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://www.driftingruby.com/touch-icon-iphone-retina-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://www.drifingruby.com/touch-icon-ipad-retina-152x152.png">
<meta name="csrf-param" content="authenticity_token">

<link href="https://www.driftingruby.com/episodes" rel="canonical"><meta name="csrf-token" content="gb67W9oeEG6WV3hlxkauRXoGgEDlkgarI9dkvZU5GcEsPUmKX8HbwqcUHNm3s_PKxLsfdxlOGVCcxH8US175rQ"></head>  
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
<div class="container">
<a class="navbar-brand" href="/"><img width="66" height="36" alt="Drifting Ruby" src="https://www.driftingruby.com/assets/drifting_ruby_brand-531fcfee7684b3a9a4177cba8f63a9a523267bb44d1014411564e7da90639156.png"></a>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarCollapse">

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
<i class="fe fe-x"></i>
</button>

<ul class="navbar-nav ms-auto">
<li class="nav-item">
<a class="nav-link" href="/episodes">
<span class="d-lg-none">
<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 48 48"><title>love movie</title><g class="nc-icon-wrapper"><path d="M1,3V45a2,2,0,0,0,2,2H45a2,2,0,0,0,2-2V3a2,2,0,0,0-2-2H3A2,2,0,0,0,1,3Z" fill="#444"></path><path d="M43,35H5a1,1,0,0,1-1-1V14a1,1,0,0,1,1-1H43a1,1,0,0,1,1,1V34A1,1,0,0,1,43,35Z" fill="#696969"></path><path d="M31.645,24.4A4.986,4.986,0,1,0,24,18.027a4.987,4.987,0,1,0-7.642,6.38L24,32Z" fill="#ed7064"></path><path d="M8,10H5A1,1,0,0,1,4,9V5A1,1,0,0,1,5,4H8A1,1,0,0,1,9,5V9A1,1,0,0,1,8,10Z" fill="#fff"></path><path d="M15,10H12a1,1,0,0,1-1-1V5a1,1,0,0,1,1-1h3a1,1,0,0,1,1,1V9A1,1,0,0,1,15,10Z" fill="#fff"></path><path d="M22,10H19a1,1,0,0,1-1-1V5a1,1,0,0,1,1-1h3a1,1,0,0,1,1,1V9A1,1,0,0,1,22,10Z" fill="#fff"></path><path d="M29,10H26a1,1,0,0,1-1-1V5a1,1,0,0,1,1-1h3a1,1,0,0,1,1,1V9A1,1,0,0,1,29,10Z" fill="#fff"></path><path d="M36,10H33a1,1,0,0,1-1-1V5a1,1,0,0,1,1-1h3a1,1,0,0,1,1,1V9A1,1,0,0,1,36,10Z" fill="#fff"></path><path d="M43,10H40a1,1,0,0,1-1-1V5a1,1,0,0,1,1-1h3a1,1,0,0,1,1,1V9A1,1,0,0,1,43,10Z" fill="#fff"></path><path d="M8,44H5a1,1,0,0,1-1-1V39a1,1,0,0,1,1-1H8a1,1,0,0,1,1,1v4A1,1,0,0,1,8,44Z" fill="#fff"></path><path d="M15,44H12a1,1,0,0,1-1-1V39a1,1,0,0,1,1-1h3a1,1,0,0,1,1,1v4A1,1,0,0,1,15,44Z" fill="#fff"></path><path d="M22,44H19a1,1,0,0,1-1-1V39a1,1,0,0,1,1-1h3a1,1,0,0,1,1,1v4A1,1,0,0,1,22,44Z" fill="#fff"></path><path d="M29,44H26a1,1,0,0,1-1-1V39a1,1,0,0,1,1-1h3a1,1,0,0,1,1,1v4A1,1,0,0,1,29,44Z" fill="#fff"></path><path d="M36,44H33a1,1,0,0,1-1-1V39a1,1,0,0,1,1-1h3a1,1,0,0,1,1,1v4A1,1,0,0,1,36,44Z" fill="#fff"></path><path d="M43,44H40a1,1,0,0,1-1-1V39a1,1,0,0,1,1-1h3a1,1,0,0,1,1,1v4A1,1,0,0,1,43,44Z" fill="#fff"></path></g></svg>
</span>
<span class="ms-4">Episodes</span>
</a></li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" id="moreContent" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
More Content
<i class="fas fa-caret-down"></i>
</a>
<div class="dropdown-menu dropdown-menu-md" aria-labelledby="moreContent">
<div class="list-group list-group-flush">
<a class="list-group-item" href="/learning_paths">
<div class="icon icon-sm text-primary">
<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M8 3v.5A1.5 1.5 0 009.5 5h5A1.5 1.5 0 0016 3.5V3h2a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2h2z" fill="#335EEA" opacity=".3"></path><path d="M11 2a1 1 0 012 0h1.5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5H11z" fill="#335EEA"></path><rect fill="#335EEA" opacity=".3" x="7" y="10" width="5" height="2" rx="1"></rect><rect fill="#335EEA" opacity=".3" x="7" y="14" width="9" height="2" rx="1"></rect></g></svg>
</div>
<div class="ms-4">
<h6 class="font-weight-bold text-uppercase text-primary mb-0">Learning Paths</h6>
<p class="font-size-sm text-gray-700 mb-0">Curated list of episodes, bundled to help you on your learning path!</p>
</div>
</a>
<a class="list-group-item" href="/vlogs">
<div class="icon icon-sm text-primary">
<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><rect fill="#335EEA" x="4" y="4" width="7" height="7" rx="1.5"></rect><path d="M5.5 13h4a1.5 1.5 0 011.5 1.5v4A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-4A1.5 1.5 0 015.5 13zm9-9h4A1.5 1.5 0 0120 5.5v4a1.5 1.5 0 01-1.5 1.5h-4A1.5 1.5 0 0113 9.5v-4A1.5 1.5 0 0114.5 4zm0 9h4a1.5 1.5 0 011.5 1.5v4a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-4a1.5 1.5 0 011.5-1.5z" fill="#335EEA" opacity=".3"></path></g></svg>
</div>
<div class="ms-4">
<h6 class="font-weight-bold text-uppercase text-primary mb-0">
Video Logs
<span class="badge rounded-pill bg-success-soft ml-auto">
new
</span>
</h6>
<p class="font-size-sm text-gray-700 mb-0">Videos of tech, infrastructure, hardware and software which non-instructional by nature.</p>
</div>
</a>
<a class="list-group-item" href="https://blog.driftingruby.com">
<div class="icon icon-sm text-primary">
<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M5.857 2h7.88a1.5 1.5 0 01.968.355l4.764 4.029A1.5 1.5 0 0120 7.529v12.554c0 1.79-.02 1.917-1.857 1.917H5.857C4.02 22 4 21.874 4 20.083V3.917C4 2.127 4.02 2 5.857 2z" fill="#335EEA" opacity=".3"></path><rect fill="#335EEA" x="6" y="11" width="9" height="2" rx="1"></rect><rect fill="#335EEA" x="6" y="15" width="5" height="2" rx="1"></rect></g></svg>
</div>
<div class="ms-4">
<h6 class="font-weight-bold text-uppercase text-primary mb-0">Blog</h6>
<p class="font-size-sm text-gray-700 mb-0">Articles around software and tutorials.</p>
</div>
</a>
<a class="list-group-item" href="https://www.railsstore.com">
<div class="icon icon-sm text-primary">
<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M7.835 4C8.229 5.212 9.944 6.125 12 6.125S15.771 5.212 16.165 4h1.107a.999.999 0 01.22 0h.008c.301 0 .571.133.755.344l4.335 2.503a1 1 0 01.366 1.366L21.3 11.082a1 1 0 01-1.366.366L18.5 10.62V20a1 1 0 01-1 1h-11a1 1 0 01-1-1v-9.38l-1.433.828a1 1 0 01-1.366-.366l-1.656-2.87a1 1 0 01.366-1.365l4.333-2.502A.998.998 0 016.5 4h.01a.999.999 0 01.219 0h1.106z" fill="#335EEA"></path></g></svg> </div>
<div class="ms-4">
<h6 class="font-weight-bold text-uppercase text-primary mb-0">
Merchandise
</h6>
<p class="font-size-sm text-gray-700 mb-0">Show your love and support while looking fancy.</p>
</div>
</a>
</div>
</div>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" id="community" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
Community
<i class="fas fa-caret-down"></i>
</a>
<div class="dropdown-menu dropdown-menu-md" aria-labelledby="community">
<div class="list-group list-group-flush">
<a class="list-group-item" href="/forums">
<div class="icon icon-sm text-primary">
<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M14.486 18l-1.689 3.057a1 1 0 01-1.708.069L9.017 18H5a3 3 0 01-3-3V6a3 3 0 013-3h14a3 3 0 013 3v9a3 3 0 01-3 3h-4.514z" fill="#335EEA" opacity=".3"></path><path d="M6 7h9a1 1 0 010 2H6a1 1 0 110-2zm0 4h5a1 1 0 010 2H6a1 1 0 010-2z" fill="#335EEA" opacity=".3"></path></g></svg>
</div>
<div class="ms-4">
<h6 class="font-weight-bold text-uppercase text-primary mb-0">
Forums
<span class="badge rounded-pill bg-success-soft ml-auto">
new
</span>
</h6>
<p class="font-size-sm text-gray-700 mb-0">Got a question or want to chat about a topic? Let's talk!</p>
</div>
</a>
</div>
</div>
</li>
<li class="nav-item"><a class="nav-link" href="/feedbacks/new">About</a></li>
<li class="nav-item text-nowrap"><a class="nav-link" href="/users/sign_in"><i class="fas fa-sign-in-alt"></i> Login</a></li>
</ul>
</div>
</div>
</nav> 
</header>                                                
<!--
<div class="bg-cover  bg-no-repeat h-64 w-64 rounded-md" style="background-image: url('https://c4.wallpaperflare.com/wallpaper/611/154/459/widescreen-high-resolution-nature-hd-1920x1080-wallpaper-preview.jpg');">
 -->
<main class="container mx-auto mt-20 px-5 flex">
    <%= yield %>
</main>
<!--
</div>
-->
<footer class="py-8 py-md-11 bg-dark footer">
<div class="container">
<div class="row">
<div class="col-12 col-md-4 col-lg-3">
<img width="100px" height="54px" alt="Drifting Ruby" class="footer-brand img-fluid mb-2" src="/assets/drifting_small_white-1eed981810ffd6d07f90792d4760f42dae0e6b47eddb3c3f3b5921f2ec6db8c1.png">
<p class="text-gray-100 mb-2">Quality Ruby Screencasts</p>
<ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
<li class="list-inline-item list-social-item mr-3">
<a target="blank" aria-label="Drifting Ruby's Twitter" class="text-gray-100 text-decoration-none mx-2" href="https://www.twitter.com/driftingruby">
<i class="fab fa-twitter-square fa-2x list-social-icon"></i>
</a> </li>
<li class="list-inline-item list-social-item mr-3">
<a target="blank" aria-label="Drifting Ruby's Github" class="text-gray-100 text-decoration-none mx-2" href="https://www.github.com/driftingruby">
<i class="fab fa-github-square fa-2x list-social-icon"></i>
</a> </li>
<li class="list-inline-item list-social-item mr-3">
<a target="blank" aria-label="Drifting Ruby's Youtube" class="text-gray-100 text-decoration-none mx-2" href="https://www.youtube.com/driftingruby">
<i class="fab fa-youtube-square fa-2x list-social-icon"></i>
</a> </li>
<li class="list-inline-item list-social-item">
<a target="blank" aria-label="Drifting Ruby's Slack" class="text-gray-100 text-decoration-none mx-2" href="https://driftingruby.slack.com">
<i class="fab fa-slack fa-2x list-social-icon"></i>
</a> </li>
</ul>
</div>
<div class="col-6 col-md-4 col-lg-2">
<h6 class="font-weight-bold text-uppercase text-gray-100">
About
</h6>
<ul class="list-unstyled text-white mb-6 mb-md-8 mb-lg-0">
<li class="mb-3"><a class="text-reset" href="/feedbacks/new">About</a></li>
<li class="mb-3"><a class="text-reset" href="/pages/pricing">Pricing</a></li>
<li class="mb-3"><a class="text-reset" href="https://blog.driftingruby.com/">Blog</a></li>
</ul>
</div>
<div class="col-6 col-md-4 col-lg-2">
<h6 class="font-weight-bold text-uppercase text-gray-100">
Meta
</h6>
<ul class="list-unstyled text-white mb-6 mb-md-8 mb-lg-0">
<li class="mb-3">
<a class="text-reset" href="/episodes/feed.atom"><i class="fas fa-rss-square"></i> atom</a>
</li>
</ul>
</div>
<div class="col-6 col-md-4 col-lg-2">
<h6 class="font-weight-bold text-uppercase text-gray-100">
Legal
</h6>
<ul class="list-unstyled text-white mb-0">
<li class="mb-3"><a class="text-reset" href="/pages/privacy_policy">Privacy Policy</a></li>
<li class="mb-3"><a class="text-reset" href="/pages/terms_of_use">Terms of Use</a></li>
</ul>
</div>
<div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">
<h6 class="font-weight-bold text-uppercase text-gray-100">
Apps
</h6>
<ul class="list-unstyled text-white mb-0">
<li class="mb-3"><a target="_blank" class="text-reset" href="https://www.rubidium.io">Rubidium</a></li>
</ul>
</div>
</div>
<div class="row">
<div class="col text-gray-100 text-right">
© 2023
<a target="blank" class="text-reset" href="https://www.k-innovations.net">Kimura Innovations, LLC</a>
</div>
</div>
</div>
</footer>

</body>
</html>
